# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.data-transformation.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workspace\data-transformation\data-transformation\.idea\.idea.data-transformation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
